 body {
      /* min-height: 100vh; */
      display: flex;
      align-items: center;
      justify-content: center;
      /* overflow: hidden; */
      background: #020d18;
    }

    /* ── background canvas ── */
    #bg {
      position: fixed;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
